.form__submit
	cursor pointer

.form__section
	margin 0
	padding 0

	border none



.form__section--person
	margin-bottom 2.6483em



.form__section--specialization
	margin-bottom 2.33em


.form__section--javascript-skill
	margin-bottom 2.6917em


.form__section--about-youself
	margin-bottom 2.12em



.form__section--roadmap
	margin-bottom 2.3em


.form__section--profile-creation-date
	margin-bottom 0




.section__column
	display block
	float left
	width 45%

	margin-right 0
	@media(min-width: 1264px)
		width 30%


.section__column--col1
	margin-right 3.33%
	@media(min-width 1264px)
		margin-right 3.33%


.section__column--col2
	margin-right 3.33%
	@media(min-width 1264px)
		margin-right 5%



.section__title
	font-family 'PT Sans Bold', sans-serif
	font-size 1.04196em
	font-weight normal

	color #2f1b15

.section__title--specialization
	margin-bottom .25em

.section__title--javascript-skill
	margin-bottom .5em

.section__title--about-youself
	margin-bottom .5em

.section__title--roadmap
	margin-bottom .2em


.section__description
	font-family 'PT Sanss', sans-serif
	font-size .65123em
	font-weight normal

	line-height 1.533em
	color #3d3d3d


.section__description--specialization
	margin-bottom 1.4em

.section__description--javascript-skill
	margin-bottom .6512em

.section__description--about-youself
	margin-bottom 1em

.section__description--roadmap
	margin-bottom .05em





.font__label
	font-family 'PT Sans Bold', sans-serif
	font-weight normal


.font__label--text
	font-size .9735em
	color #2f1b15


.font__label--checkbox
	font-size .9117em


.font__label--slider
	font-size .5644em
	color #2f1b15

.font__label--radio
	font-size .8683em





.font__input
	font-family 'Courier New', sans-serif
	font-weight normal
	color #231f20

.font__input--text
	font-size 1.3em


.font__input--date
	font-size 1em
