.form__submit
	cursor pointer

.form__section
	margin 0
	padding 0

	border none



.form__section_person
	margin-bottom 2.6483em



.form__section_specialization
	margin-bottom 2.33em


.form__section_javascript-skill
	margin-bottom 2.6917em


.form__section_about-youself
	margin-bottom 2.12em



.form__section_roadmap
	margin-bottom 2.3em


.form__section_profile-creation-date
	margin-bottom 0




.section__column
	display block
	float left
	width 45%

	margin-right 0
	@media(min-width: 1264px)
		width 30%


.section__column_col1
	margin-right 3.33%
	@media(min-width 1264px)
		margin-right 3.33%


.section__column_col2
	margin-right 3.33%
	@media(min-width 1264px)
		margin-right 5%



.section__title
	font-family 'PT Sans Bold', sans-serif
	font-size 1.04196em
	font-weight normal

	color #2f1b15

.section__title_specialization
	margin-bottom .25em

.section__title_javascript-skill
	margin-bottom .5em

.section__title_about-youself
	margin-bottom .5em

.section__title_roadmap
	margin-bottom .2em


.section__description
	font-family 'PT Sanss', sans-serif
	font-size .65123em
	font-weight normal

	line-height 1.533em
	color #3d3d3d


.section__description_specialization
	margin-bottom 1.4em

.section__description_javascript-skill
	margin-bottom .6512em

.section__description_about-youself
	margin-bottom 1em

.section__description_roadmap
	margin-bottom .05em





.font__label
	font-family 'PT Sans Bold', sans-serif
	font-weight normal


.font__label_text
	font-size .9735em
	color #2f1b15


.font__label_checkbox
	font-size .9117em


.font__label_slider
	font-size .5644em
	color #2f1b15

.font__label_radio
	font-size .8683em





.font__input
	font-family 'Courier New', sans-serif
	font-weight normal
	color #231f20

.font__input_text
	font-size 1.3em


.font__input_date
	font-size 1em
