- set_bemto_settings({modifier: '--'})
mixin form(data)
	+b('form').form.profile__form(action="json.txt" id="candidate" enctype="multipart/form-data")
		+e('fieldset').section.__section--person(name= '#{data.form.person.name}')
			include ../section_person/section_person

		+e('fieldset').section--specialization
			include ../section_specialization/section_specialization

		+e('fieldset').section--javascript-skill

		+e('fieldset').section--about-yourself

		+e('fieldset').section--roadmap

		+e('fieldset').section--profile-creation-date

		+e('input').submit(type='submit' id='submit_button' value='Save' style={'display':'none'})
