.field__input--textarea
	display block
	width 100%

	line-height 2em

	background url('/assets/images/textarea-bg.png')repeat-y 50% 0
	background-size   auto 2em
	border none

textarea
	min-height 6em

	margin 0
	padding 0

	resize none

	overflow hidden
