- var data = getData('profile.json')
+b.section
	+e.title--about-yourself= `${data.form.about_yourself.title}`
	+e.description--about-yourself= `${data.form.about_yourself.description}`
	+e.textarea
		+b('textarea').field__input--textarea.font__input--text(form="candidate" name="about-yourself")
