.field--text
	height 2.6874em
	line-height 2.6874em
	vertical-align bottom
	white-space nowrap



.field__label--text
	display inline-block
	line-height 1.9536em
	vertical-align bottom

	margin-right 1.1688%


.field__input--text
	display inline-block
	line-height 2em
	vertical-align bottom

	padding-top 0
	padding-right .5em
	padding-left .5em
	padding-bottom .2671em

	background url('/assets/images/textarea-bg.png') no-repeat 50% 50%
	background-size auto 2em
	border none


.field__input--fullname
	width 81.5584%

.field__input--birth_year
	width 80.2597%

.field__input--location
	width 74.935%

.field__input--skype
	width 90.3896%

.field__input--email
	width 90.3896%


