.field--date
	height 2.6874em

	line-height 2.6874em
	vertical-align bottom



.field__label--date
	vertical-align bottom

	line-height 1.45em

	margin-right 1.1688%


.field__input--date
	width 7em

	line-height 1.5em
	vertical-align center

	padding-left .4em

	background url('/assets/images/textarea-bg.png') no-repeat 50% 50%
	background-size cover
	border none


