.profile
	width 100%
	background-color #797979

	background url('/assets/images/bg_page.png') round

	padding-top 3.61%
	padding-left 8.75%
	padding-bottom 5.468%

	margin 0 auto

	@media(min-width 680px)
		width 78.125%


.profile__header
	width 100%
	height 43.50%

	margin-bottom 3.7%
	// border: 1px solid green

.profile__form
	max-width 86.712%


