@font-face
	font-family 'Courier New'
	font-style normal
	font-weight normal
	src  url('/assets/fonts/Cour.woff') format('woff')



@font-face
	font-family 'PT Sans'
	font-style normal
	font-weight normal
	src  url('/assets/fonts/PTS55F.woff') format('woff'),
		url('/assets/fonts/PT_Sans-Web-Regular.ttf')     format('truetype')

@font-face
	font-family 'PT Sans Bold'
	font-style normal
	font-weight normal
	src url('/assets/fonts/PTS75F.woff') format('woff'),
		url('/assets/fonts/PT_Sans-Web-Bold.ttf') format('truetype')


