- var data = getData('profile.json')
+b.section
	+e.title--javascript-skill= `${data.form.javascript_skill.title}`
	+e.description--javascript-skill= `${data.form.javascript_skill.description}`
	.sl-place

