.field--checkbox
	width 100%
	height 1.51em

	line-height 1.51em
	vertical-align center


.field__value--checkbox
	display none


.field__label--checkbox
	position relative

	display inline-block
	// white-space: nowrap;
	padding-left 1.3em


	&:before
		content ''
		position absolute
		top .5em
		left .05em
		display inline-block
		width .9em
		height .85em
		sprite $checkbox
		// background-image url('../img/checkbox.png')
		// background-repeat no-repeat
		// background-position 50% 50%
		// background-size contain


	&:after
		content ''
		position absolute
		opacity 0
		top .1em
		left .2em
		display inline-block
		width .91em
		height 1.17em
		sprite $sign
		// background-image url("../img/sign.png")
		// background-repeat no-repeat
		// background-position 50% 50%
		// background-size contain



.field--checkbox-last
	line-height 1.1em
	padding-top .35em

	& .field__label--checkbox:before
		top .2em

	& .field__label--checkbox:after
		top -.25em


.field__link
	color #1f5f97

.field__value--checkbox:checked ~  .field__label--checkbox:after
	opacity 1



