
.header__top
	clearfix()
	width 100%
	height 18.531%


.header__logo
	padding-top 1.7%
	float left
	// position: absolute;
	width 17.4%

.logo__img
	width 100%
	// sprite($logo)
	background url('/logo.png')	 no-repeat
	background-size contain

.header__cliche
	float right
	// position absolute;
	width 28.4745%

	margin-right 6.101%


.cliche__img
	width 100%
	// sprite($cliche)
	background url('/cliche.png')	 no-repeat
	background-size contain


.header__middle
	padding-left 28.9%



.main-title
	// position absolute
	margin-top -.7%
	width 35%


.main-title__img
	width 100%
	// sprite($main_title)
	background url('/main_title.png')	 no-repeat
	background-size contain
